@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(75, 75, 75);
  border-radius: 30px;
  box-shadow: 0 0 2px rgb(67, 67, 67) inset;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(101, 101, 101);
}
::-webkit-scrollbar-track{
  background-color: transparent;
}

/* sidebar */
.sidebar::-webkit-scrollbar{
  height: 0px;
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb{
  background-color: rgb(115, 115, 115);
  box-shadow: none;
}
.sidebar::-webkit-scrollbar-thumb:hover{
  background-color: rgb(91, 91, 91);
}